<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<title>HomePage</title>
	</head>
	<body>
		<div class="HomePage">
			<h1>H O M E P A G E</h1>
			<a href="/store" class="link"><b>Go to food store</b></a>
		</div>
	</body>
</html>
