<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
        <title>Order received</title>
	</head>
	<body>
		<div class="order_received">
			<h1>Order placed and email sent to: <%= email %></h1>
		</div>
	</body>
</html>
