<!DOCTYPE html>
<html>
	<head>
		<title>Jessedancr</title>
	</head>

	<body>
		<h1>H O M E P A G E</h1>
        <p>This is a tribute to "A song of Ice and Fire" by George.R.Martin</p>
        <a href="/tribute">View tribute</a>
	</body>
</html>
