<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<title>CONVERTER</title>
	</head>
	<body>
		<h1>CONVERTER</h1>
		<div class="converter">
			<form action="/convert" method="post">
				<div>
					<label for="dropdown">CHOOSE AN OPTION</label>
					<select name="conversionType" id="dropdown">
						<% options.forEach(option => {%>
						<option value="<%= option %>"><%= option %></option>
						<%}) %>
					</select>
				</div>

				<br />
				<div>
					<label for="numberInput">Enter a number:</label>
					<input id="numberInput" type="number" name="numberInput" />
				</div>

				<br />
				<button type="submit">Convert</button>
				<p><b>RESULT: <%= conversion %></b></p>
			</form>
			<a href="/history">View History</a>
		</div>
	</body>
</html>
