<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Uploads</title>
	</head>
	<body>
		<h1>UPLOADED IMAGES:</h1>
		<div>
			<% files.forEach(file => { %>
			<div>
				<li>
					<img
						src="<%= file.path %>"
						style="max-width: 200px"
						alt="uploaded image" />
					<button type="submit">Delete</button>
				</li>
			</div>
			<%}) %>
		</div>
		<a href="/upload">Upload another image</a>
	</body>
</html>
