<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
	</head>
	<body>
		<h1>ADMIN LOG IN</h1>
		<div>
			<form action="/on_adlogin" method="post">
				<div>
					<label for="username">Username</label>
					<input name="username" type="text" id="username" />
				</div>
				<br />
				
				<div>
					<label for="password">Password</label>
					<input name="password" type="password" id="password" />
				</div>
				<br />
				<button type="submit">Login</button>
			</form>
		</div>
	</body>
</html>
