<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Upload image</title>
	</head>
	<body>
		<h1>UPLOAD IMAGE</h1>
		<form method="post" action="/upload" enctype="multipart/form-data">
			<input type="file" name="image" accept="image/*" required />
			<button type="submit">Submit</button>
		</form>
		<p><%= message %></p>
		<a href="/home">View uploaded images</a>
	</body>
</html>
