body {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100vh;
	background-color: beige;
}

.login_username,
.login_password,
.signup_username,
.signup_password {
	padding: 10px;
}

.converter,
.login_form,
.signup_form {
	background-color: burlywood;
	height: 300px;
	border-radius: 20px;
	padding: 20px;

}

.textfield {
	height: 20px;
	font-size: medium;
	border-radius: 7px;
	outline-color: darkkhaki;
}

.convert button,
.signup_password button,
.login_password button {
	width: 100%;
	margin-top: 30px;
	background-color: darkkhaki;
	border-radius: 20px;
	height: 30px;
}
.button:hover {
	background-color: chocolate;
}

.dropdown{
	margin: 10px;
}

.convert{
	margin: 10px;
}