<html>
	<head>
		<title>Jessedancr</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div>
			<h1>G O O G L E</h1>
			<form action="/search" method="post">
				<input type="search" name="searchQuery" placeholder="Search..." />
				<button type="submit">Search</button>
			</form>
		</div>
	</body>
</html>
