<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<title>URL shortener</title>
	</head>
	<body>
		<div class="myDiv">
			<h1>URL SHORTENER</h1>
			<form action="/shorten" method="post">
				<label for="textfield"><b>Input your URL: </b></label>
				<input id="textfield" name="url" placeholder="url" type="url" class="textfield" />
				<br />
				<button type="submit" class="myButton">Submit</button>
			</form>
		</div>
	</body>
</html>
