<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<title>Shortened URL</title>
	</head>
	<body>
		<div class="myDiv">
			<h1>SHORTENED URL:</h1>
			<p><a href="<%= shortUrl %>"><%= shortUrl %></a></p>
			<p><a href="/">Home page</a></p>
		</div>
	</body>
</html>
